{% extends 'base.html' %}
{% block content %}
<div class="welcome-container">
    <div class="gym-name">WELCOME TO GYM SYSTEM</div>
</div>

<div class="stats big-cards">
    <a href="{{ url_for('view_active') }}" class="card big-card">
        <p class="big-number">{{ active_count }}</p>
        <h3>العملاء الحاليين</h3>
    </a>
    <a href="{{ url_for('view_expiring') }}" class="card big-card">
        <p class="big-number">{{ expiring_count }}</p>
        <h3>ستنتهي خلال 7 أيام</h3>
    </a>
    <a href="{{ url_for('list_clients') }}" class="card big-card">
        <p class="big-number">{{ expired_count }}</p>
        <h3>المنتهية اشتراكاتهم</h3>
    </a>
</div>

<div class="footer">
    <div>Owner/ Captin: Faika Hussein</div>
    <div>Developed by/ Eng: Mahmoud Yassen</div>
</div>

{% endblock %}
