apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: ivolve
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: myapp-container
          image: yassenn01/my-app:59
          ports:
            - containerPort: 5000
